.post{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 480px;
    height: 450px;
    position: relative;
    border-radius: 20px;

    .editButton{
        position: absolute;
        right: 1px;

        button{
            color: #ccc;
        }
    }
    img{
        width: 480px;
        height: 260px;
        border-radius: 20px 20px 0 0;
    }

    &Full{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 20px;
        margin-bottom: 80px;

        img{
            width: 100%;
            height: 100%;
            border-radius: 20px 20px 0 0;
        }
    }

    .wrapper{
        padding: 0 25px;

        .content{
            .title{
              font-size: 26px;
              margin-top: 15px;
              margin-bottom: 5px;
              white-space: nowrap; 
              overflow: hidden; 
              text-overflow: ellipsis; 
            }
            
            .description{
               font-size: 18px;
               display: -webkit-box;
               -webkit-line-clamp: 3;
               -webkit-box-orient: vertical;
               overflow: hidden;
            }

            .info{
                display: flex;
                flex-direction: row;
                margin-top: 30px;
                justify-content: space-between;

                .createdAt{
                    opacity: 0.5;
                }
                
                .tags{
                    display: inherit;
                    flex-direction: row;
                    opacity: 0.5;
                    margin-right: 20%;
                    
                    li{
                        margin: 0 5px;
                    }
                }

                .viewCount{
                    position: relative;
                    svg{
                        position: absolute;
                        right: 30px;
                    }
                }
            }

            &Full{
                .title{
                    font-size: 38px;
                    margin: 20px 0;
                }
    
                .description{
                    font-size: 21px;
                    line-height:36px;
                    display: block;
                }

                .info{
                    margin-bottom: 20px;

                    .viewCount{
                        position: relative;
                        svg{
                            position: absolute;
                            right: 20px;
                        }
                    }
                }
            }
        }
    }
}
